@use "reset";

body {
  --main-font: "Inter", sans-serif;
  --logo-font: "Oswald", sans-serif;
  --main-blue: rgb(70, 98, 255);
  --hover-blue: rgb(92, 116, 255);
  --blue-text: rgb(70, 98, 255);
  --main-red: rgb(224, 36, 36);
  --hover-red: rgb(241, 71, 71);
  --main-green: rgb(0, 149, 0);
  --hover-green: rgb(0, 179, 0);
  --main-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --main-background: rgba(190, 190, 190, 0.082);
  --card-background: white;
  --text-color: rgb(20, 20, 20);
  --text-button: white;
  --card-border: rgb(212, 212, 212);
  --input-background: rgb(251, 251, 251);
  --placeholder-color: rgb(143, 143, 143);
  --input-border: rgb(199, 199, 199);
}

body.dark-mode {
  --main-blue: rgb(48, 63, 159);
  --hover-blue: rgb(64, 82, 199);
  --blue-text: rgb(89, 171, 255);
  --main-red: rgb(165, 26, 26);
  --hover-red: rgb(195, 29, 29);
  --main-green: rgb(0, 95, 0);
  --hover-green: rgb(0, 115, 0);
  --main-shadow: rgba(77, 76, 76, 0.3) 0px 1px 2px 0px,
    rgb(73, 73, 73, 0.15) 0px 2px 6px 2px;
  --main-background: rgb(20, 20, 20);
  --card-background: rgb(41, 41, 41);
  --text-color: rgb(230, 230, 230);
  --card-border: rgb(71, 71, 71);
  --input-background: rgb(56, 56, 56);
  --placeholder-color: rgb(187, 187, 187);
  --input-border: rgb(95, 95, 95);
}

#theme-button {
  // font-size: 1.5rem;
  background-color: transparent;
  border: none;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  cursor: pointer;
}

@mixin border-radius($property) {
  border-radius: $property;
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  -ms-border-radius: $property;
  -o-border-radius: $property;
}

@mixin transition($property) {
  transition: $property;
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  -o-transition: $property;
}

body {
  background-color: var(--main-background);
  * {
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--text-color);
  }
}

.navbar-container {
  position: relative;
  margin-bottom: 20px;
  height: 51px;
  z-index: 100;
}

.navbar {
  background-color: var(--main-blue);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  outline: 1px solid var(--main-background);

  .mobile-menu {
    all: unset;
    top: 51px;
    position: absolute;
    z-index: 10;
    display: none;
    background-color: rgba(46, 43, 43, 0.842);
    width: 100vw;
    height: calc(100vh - 51px);

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--main-blue);
      width: 100vw;
      height: fit-content;
    }

    li {
      margin: 0;
      display: flex;
      width: 100%;
      border: none;
    }

    a {
      color: white;
      border: none;
      width: 100%;
      text-align: center;

      &:hover {
        border: none;
      }
    }

    &.show {
      display: flex;
    }
  }

  .menu-button {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 10px;
    margin-left: 10px;
    position: absolute;
    cursor: pointer;

    @media (min-width: 750px) {
      display: none;
    }

    div {
      width: 100%;
      height: 5px;
      background-color: white;
      @include border-radius(2px);
    }
  }
  > ul {
    display: flex;
    border-bottom: 1px solid var(--main-blue);
    padding: 0 20px;
    width: 100%;
  }

  li {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    @media (min-width: 750px) {
      display: flex;
    }
  }

  .brand {
    display: flex;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;

    a {
      font-family: var(--logo-font);
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
      font-size: 1.7rem;
      line-height: 48px;
    }
    @media (min-width: 750px) {
      width: unset;
    }
  }

  .right-align {
    margin-left: auto;
  }

  a {
    border-bottom: 4px solid var(--main-blue);
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    padding: 0 20px;
    font-size: 1.4rem;
    line-height: 50px;
    @include transition(border 0.2s);
    &:hover {
      border-bottom: 4px solid white;
    }
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  > div {
    background-color: var(--card-background);
    box-shadow: var(--main-shadow);
    padding: 10px;
    width: 100%;
    @include border-radius(5px);

    @media (min-width: 600px) {
      max-width: 600px;
    }

    h1 {
      text-align: center;
      font-size: 1.4rem;
      margin: 10px 0;
      color: var(--blue-text);
    }
  }
}

.form {
  label {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
  input {
    display: block;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 12px;
    width: 100%;
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    @include border-radius(5px);
    outline: none;

    &::placeholder {
      color: var(--placeholder-color);
    }
    &:focus {
      border: 2px solid rgba(70, 98, 255, 0.527);
      padding: 9px;
    }
  }
  textarea {
    display: block;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 12px;
    width: 100%;
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    @include border-radius(5px);
    outline: none;
    &:focus {
      border: 2px solid rgba(70, 98, 255, 0.527);
      padding: 9px;
    }
  }
  button {
    outline: none;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    font-size: 1.1rem;
    @include border-radius(5px);
    @include transition(0.25s background-color);
    cursor: pointer;
    max-width: 250px;
    width: 100%;
    border: none;
    color: var(--text-button);
    background-color: var(--main-green);
    &:hover {
      color: white;
      background-color: var(--hover-green);
    }

    &.blue {
      background-color: var(--main-blue);
    }

    &.blue:hover {
      background-color: var(--hover-blue);
    }
  }
}

.flash-message {
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  div {
    display: flex;
    justify-content: center;
    @include border-radius(5px);
    padding: 15px 50px;
    position: relative;
    cursor: pointer;
    min-width: 200px;
  }

  button {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .success {
    color: rgb(0, 133, 0);
    background-color: rgb(244, 255, 240);
    border: 1px solid rgb(0, 133, 0);

    h2 {
      color: rgb(0, 133, 0);
    }
  }

  .error {
    color: rgb(230, 0, 0);
    border: 1px solid rgb(230, 0, 0);
    background-color: rgb(255, 238, 238);

    h2 {
      color: rgb(230, 0, 0);
    }
  }
}

.image-container {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  img {
    max-width: 500px;
    max-height: 500px;
  }
}

.image-container.avatar {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

#current-image {
  display: flex;
  justify-content: center;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  > div {
    box-shadow: var(--main-shadow);
    padding: 10px;
    width: 100%;
    @include border-radius(5px);
    background-color: var(--card-background);

    @media (min-width: 600px) {
      max-width: 600px;
    }
  }

  &.wide {
    > div {
      max-width: 1200px;
    }
  }

  &.invisible {
    > div {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
    }
  }
}

.section-title {
  text-align: center;
  font-size: 1.4rem;
  margin: 10px 0;
  color: var(--blue-text);
  word-break: break-all;
}

.profile-table {
  margin: 0 auto;
  line-height: 1.5;
  td {
    padding: 10px;
    word-break: break-all;
  }

  th {
    padding: 10px;
    white-space: nowrap;
  }

  tr {
    border-bottom: 1px solid rgba(87, 112, 255, 0.555);

    &:last-child {
      border: none;
    }
  }
}

.edit-button {
  display: block;
  background-color: var(--main-blue);
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 0;
  max-width: 200px;
  padding: 10px 20px;
  font-size: 1.1rem;
  @include border-radius(5px);
  @include transition(0.25s background-color);

  &:hover {
    background-color: var(--hover-blue);
  }

  &.posts {
    margin: 12px auto;
    margin-top: 0;
  }
}

.person-details {
  padding: 10px;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.friends-grid {
  display: grid;
  margin: 0 auto;

  .image-container {
    margin-bottom: 5px;
    img {
      min-height: 200px;
    }
  }

  a {
    text-decoration: none;
    color: black;
    display: block;
    width: 90%;
    padding: 5px;
    margin: 5px auto;
    border: 1px solid var(--card-border);
    @include border-radius(5px);
    box-shadow: var(--main-shadow);

    &:hover {
      background-color: rgba(34, 67, 255, 0.198);
    }

    h2 {
      text-align: center;
      font-size: 1rem;
      padding: 10px 5px;
      word-break: break-all;
    }
    button {
      font-size: 1rem;
    }

    @media (min-width: 600px) {
      min-width: 250px;
      min-height: 280px;
      max-width: 350px;
      width: 100%;
      margin: 5px 0;
    }
  }
  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 10px;
    justify-content: center;
    justify-items: stretch;
  }
}

.posts-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;

  > div {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px;
    margin: 5px auto;
    border: 1px solid var(--card-border);
    background-color: var(--card-background);
    @include border-radius(5px);
    box-shadow: var(--main-shadow);
  }

  @media (min-width: 600px) {
    grid-template-columns: 700px;
  }
  .image-container {
    justify-content: center;
    img {
      width: 100%;
      max-width: 500px;
      max-height: unset;
    }
  }
}

.post-header {
  display: flex;
  align-items: center;
  word-break: break-all;

  > div {
    display: inline-block;
  }

  img {
    width: 55px;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  p {
    color: rgb(143, 143, 143);
    font-size: 0.9rem;
  }

  * {
    padding: 3px;
  }
}

.post-content {
  line-height: 1.5;
  margin: 10px 6px;
}

.post-likes {
  margin: 10px 6px;
  color: var(--blue-text);
  font-size: 1.1rem;
}

.post-buttons {
  display: flex;
  justify-content: space-evenly;
}

.post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-blue);
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  @include border-radius(5px);
  cursor: pointer;
  min-width: 100px;

  max-width: 30vw;
  @include transition(0.25s background-color);

  &:hover {
    background-color: var(--hover-blue);
  }
  &.delete {
    background-color: var(--main-red);

    &:hover {
      background-color: var(--hover-red);
    }
  }

  svg {
    margin-right: 8px;
  }
}

.post-comments {
  margin: 10px;
  border: 1px solid var(--card-border);
  @include border-radius(5px);

  button {
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

.new-comment {
  margin: 10px;
  display: none;
  flex-wrap: wrap;
  padding: 3px;
  border: 1px solid var(--card-border);
  @include border-radius(5px);

  form {
    width: calc(100% - 55px);
  }

  textarea {
    display: block;
    padding: 10px;
    font-size: 1rem;
    margin: 3px;
    margin-bottom: 12px;
    width: calc(100% - 5px);
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    @include border-radius(5px);
    outline: none;
    &:focus {
      border: 2px solid rgba(70, 98, 255, 0.527);
      padding: 9px;
    }
  }

  img {
    width: 55px;
    padding: 3px;
  }

  button {
    margin: 0 auto;
  }

  &.show {
    display: flex;
  }
}

.add-comment {
  margin: 0 auto;
  min-width: 200px;
}

.error-container {
  h1 {
    color: rgb(230, 0, 0);
    margin-bottom: 0;
  }
  p {
    padding: 50px 0;
    text-align: center;
    font-size: 1.1rem;
  }
}

input[type="file"] {
  cursor: pointer;
  padding: 1px;
  @include transition(0.25s opacity);
  @include border-radius(5px);

  &:hover {
    opacity: 0.9;
  }
}

.form input[type="file"]:focus {
  padding: 0;
}

input::file-selector-button {
  color: white;
  background-color: var(--main-blue);
  padding: 10px 20px;
  margin-right: 10px;
  border: 0;
  outline: 0;
  @include border-radius(5px);
  cursor: pointer;
}

input::file-selector-button:hover {
  background-color: var(--hover-blue);
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
}

input::-webkit-datetime-edit {
  cursor: text;
}

.was-validated .validate-msg {
  color: black;
  margin: 5px 0;
  margin-bottom: 15px;
  color: rgba(199, 0, 0, 0.9);
  font-size: 1rem;
  word-break: break-all;

  &.good {
    color: rgba(0, 128, 0, 0.9);
  }
}
