<% if (error.length) { %>
<h4>Flash Error</h4>
<p><%= error %></p>
<h4>Flash Error</h4>
<% } %>

<% if (success.length) {%>
  <h4>Flash Success</h4>
  <p><%= success %></p>
  <h4>Flash Success</h4>
<%} %>